# Covid-19 Data Analysis - Poland

This is my analysis of Covid-19 data in Poland
Today is 20 of May 2021
I took dataset from: [here](https://www.kaggle.com/misalraj/coronavirus-covid19-deaths)

importing important modules

In [1]:
import pandas as pd
import numpy as np 
import datetime

Assign the data set to the variable

In [2]:
df = pd.read_csv("covid-data.csv")

Selecting data for Poland

In [3]:
df = df[df["location"] == "Poland"][["date", "total_cases", "new_cases", "total_deaths", "new_deaths"]]

Describe to fast peek to the total_deaths for this moment

In [4]:
df.describe()

        total_cases     new_cases  total_deaths  new_deaths
count  4.420000e+02    442.000000    434.000000  434.000000
mean   7.964092e+05   6468.916290  18941.589862  166.474654
std    9.447370e+05   8215.678026  22679.541430  206.375173
min    1.000000e+00      0.000000      1.000000    0.000000
25%    3.230200e+04    380.000000   1439.500000   12.000000
50%    1.237270e+05   2316.500000   3262.500000   34.500000
75%    1.501274e+06  10018.250000  37155.500000  306.000000
max    2.859261e+06  35253.000000  72250.000000  956.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 442 entries, 64938 to 65379
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          442 non-null    object
 1   total_cases   442 non-null    float64
 2   new_cases     442 non-null    float64
 3   total_deaths  434 non-null    float64
 4   new_deaths    434 non-null    float64
dtypes: float64(4), object(1)
memory usage: 20.7+ KB

Setting new index for my data frame

In [6]:
df.index = [x for x in range(1, len(df) + 1)]

Format the datetime from string to the date format

In [7]:
print(type(df.iloc[0,0]))

<class 'str'>

In [8]:
df["date"] = pd.to_datetime(df["date"], format = "%Y-%m-%d")

In [10]:
print(type(df.iloc[0,0]))
print(df.iloc[0,0])

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2020-03-04 00:00:00

Time untill first cause

In [24]:
time_diff = df.iloc[441,0] - df.iloc[0,0]

In [25]:
print(f"time passed from first cause untill today {time_diff.days}")

time passed from first cause untill today 441

442

434

          date  total_cases  new_cases  total_deaths  new_deaths
1   2020-03-04          1.0        1.0           NaN         NaN
2   2020-03-05          1.0        0.0           NaN         NaN
3   2020-03-06          5.0        4.0           NaN         NaN
4   2020-03-07          5.0        0.0           NaN         NaN
5   2020-03-08         11.0        6.0           NaN         NaN
..         ...          ...        ...           ...         ...
438 2021-05-15    2851911.0     2897.0       71609.0       298.0
439 2021-05-16    2854079.0     2168.0       71664.0        55.0
440 2021-05-17    2855190.0     1111.0       71675.0        11.0
441 2021-05-18    2856924.0     1734.0       71920.0       245.0
442 2021-05-19    2859261.0     2337.0       72250.0       330.0

[442 rows x 5 columns]